schemes/xml/biocatalyst.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Roots -->
    <xs:element name="BiocatalystPurchased" type="BiocatalystPurchasedType"/>
    <xs:element name="BiocatalystSelfProduced" type="BiocatalystSelfProducedType"/>
    <xs:element name="PurifiedBiocatalyst" type="PurifiedBiocatalystType"/>
    <xs:element name="CrudeCellExtract" type="CrudeCellExtractType"/>
    <xs:element name="WholeCellBiocatalyst" type="WholeCellBiocatalystType"/>
    <xs:element name="SecretedEnzyme" type="SecretedEnzymeType"/>
    <xs:element name="CellFreeProduction" type="CellFreeProductionType"/>
    <xs:element name="Immobilised" type="ImmobilisedType"/>
    <xs:element name="StorageConditions" type="StorageConditionsType"/>

    <!-- BiocatalystPurchased Definition -->
    <xs:complexType name="BiocatalystPurchasedType">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The name of the biocatalyst can be either generic based on the catalyzed reaction, for example, 'lipase' or more specifically by describing the genus and species, such as '
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ec_number" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Numerical classification system that categorizes enzymes based on their biochemical function and reaction mechanism, such as EC 3.1.4.12.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="molecular_weight" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The molecular weight (MW) refer to the sum of the atomic weights of the atoms in a molecule and therefore describes the mass of an enzyme.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="molecular_weight_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The enzyme size or molar weight is typically expressed in kDa (kilodaltons).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="catalyzed_reaction" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The reaction catalyzed by the biocatalyst.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sequence_amino_acid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The amino acid sequence of the biocatalyst. The amino acid sequence can be represented in either a three-letter or one-letter code. For instance, "Ala-Ser-Gly" corresponds to the three-letter code, while "ASG" represents the same sequence in the one-letter code. One of the databases commonly used for storing and retrieving amino acid sequences is the UniProt database (https://www.uniprot.org/). UniProt provides extensive information on protein sequences, including their one-letter and three-letter amino acid codes, allowing researchers to access and analyze various protein sequences.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sequence_DNA" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The DNA sequence of the biocatalyst including any tags and linkers.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="origin_organism" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The specific species or source from which the enzyme is derived or isolated. It includes information about the genus and species of the organism. However, the cell type from which the biocatalyst is        derived could be bacterial, as well as plant, animal, or other sources. (
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="supplier" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Information about the supplier from which the enzyme was purchased. If possible, a reference for the purchased biocatalyst should also be provided.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="production_organism" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Information about the organism in which the biocatalyst was produced is crucial in the context of heterologous gene expression.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="posttranslational_modification" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Information about any chemical modifications or alterations that occur to the biocatalyst's protein structure after translation, such as phosphorylation, glycosylation, acetylation,               methylation, ubiquitination and other modifications.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="purity" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Purity of enzymes typically expressed in percentage (%). It is usually stated as the percentage of the pure enzyme or active component relative to the total mass of the enzyme preparation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="purity_specification" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Description of how the purity of the biocatalyst was determined. In case of purchased enzymes, this information is often available from the product specification sheet.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="formulation" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Depending on the formulation, the biocatalyst can exist either in a dissolved state within a solvent or as a solid powder. It defines the physical state in which the biocatalyst is used. Additional information regarding the application or formulation in the experiment should be entered in the next subcategory.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- BiocatalystSelfProduced Definition -->
    <xs:complexType name="BiocatalystSelfProducedType">
        <xs:sequence>
            <xs:element name="name" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The name of the biocatalyst can be either generic based on the catalyzed reaction, for example, 'lipase' or more specifically by describing the genus and species, such as '
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ec_number" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Numerical classification system that categorizes enzymes based on their biochemical function and reaction mechanism, such as EC 3.1.4.12.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="molecular_weight" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The molecular weight (MW) refer to the sum of the atomic weights of the atoms in a molecule and therefore describes the mass of an enzyme.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="molecular_weight_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The enzyme size or molar weight is typically expressed in kDa (kilodaltons).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="catalyzed_reaction" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The reaction catalyzed by the biocatalyst.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sequence_amino_acid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The amino acid sequence of the biocatalyst. The amino acid sequence can be represented in either a three-letter or one-letter code. For instance, "Ala-Ser-Gly" corresponds to the three-letter code, while "ASG" represents the same sequence in the one-letter code. One of the databases commonly used for storing and retrieving amino acid sequences is the UniProt database (https://www.uniprot.org/). UniProt provides extensive information on protein sequences, including their one-letter and three-letter amino acid codes, allowing researchers to access and analyze various protein sequences.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sequence_DNA" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The DNA sequence of the biocatalyst including any tags and linkers.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sequence_plasmid" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The DNA sequence of the plasmid used to produce the biocatalyst. The sequence can be provided in plain text or as a database ID.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="plasmid_specifications" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        All DNA sequence changes (e.g. codon optimization for
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="origin_organism" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The specific species or source from which the enzyme is derived or isolated. It includes information about the genus and species of the organism. (
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="production_organism" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Information about the organism in which the biocatalyst was produced is crucial in the context of heterologous gene expression. If the production strain was purchased, more detailed information on the manufacturer and the organism should be provided.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="posttranslational_modification" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Information about any chemical modifications or alterations that occur to the biocatalyst's protein structure after translation, such as phosphorylation, glycosylation, acetylation,               methylation, ubiquitination and other modifications.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="purity" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Purity of enzymes typically expressed in percentage (%). It is usually stated as the percentage of the pure enzyme or active component relative to the total mass of the enzyme preparation.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="purity_specification" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The choice of method for the purity determination depends on the type of enzyme and the available resources and may include gel electrophoresis, HPLC, ELISA, Western blotting, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="purification_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The choice of purification methods is diverse and can impact the enzyme, with possible methods including chromatographic techniques, precipitation, HPLC, ultrafiltration, dialysis, salt fractionation,      etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="formulation" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Depending on the formulation, the biocatalyst can exist either in a dissolved state within a solvent or as a solid powder. It defines the physical state in which the biocatalyst is used. Additional information regarding the application or formulation in the experiment should be entered in the next subcategory.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the biocatalyst that are important for reproducibility and are not described by the aforementioned metadata,       they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- PurifiedBiocatalyst Definition -->
    <xs:complexType name="PurifiedBiocatalystType">
        <xs:sequence>
            <xs:element name="concentration" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Concentration of the biocatalyst.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Concentration of the biocatalyst is typically expressed in g/L (grams per liter).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration_determination_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        It is important to specify the method used for concentration determination. There are various methods available for the determination of the enzyme concentration in solution e.g., the Bradford method, Lowry method, UV absorption, activity assays, ELISA, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="activity" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The activity of the biocatalyst can be expressed either as volumetric activity, which considers the total activity of the enzyme in the solution, or as specific activity, which takes into account the       enzyme's purity and indicates the activity of an enzyme per unit of enzyme protein or enzyme mass. If the biocatalyst has been purchased, it is advisable to look up more precise information (e.g. via an SOP)            regarding the activities specified by the manufacturer, as these may differ from the values determined by yourself (different activity assays can lead to different activity values). In addition, the loss of activity of the biocatalyst over the storage period should be taken into account.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="activity_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The enzyme's activity can be expressed either as specific activity [][][]
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="activity_determination_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Enzyme activity can be measured in various ways, including spectrophotometrically, colorimetrically, fluorometrically, assays and using biosensors, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="formulation" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Depending on the formulation, the biocatalyst can be applied dissolved in a solvent or as a dried powder. It defines the physical state in which the biocatalyst is applied in the reaction.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the biocatalyst that are important for reproducibility and are not described by the aforementioned metadata,       they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- CrudeCellExtract Definition -->
    <xs:complexType name="CrudeCellExtractType">
        <xs:sequence>
            <xs:element name="cell_disruption_process" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Cell disruption processes and methods include various techniques such as mechanical disruption (e.g., grinding, homogenization, ultrasonication, french press), chemical disruption (e.g., detergents, enzymes), physical techniques (e.g., electroporation, high-pressure homogenization, thermal treatment) to break cell walls and release cell contents.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Concentration of the biocatalyst.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Concentration of the biocatalyst is typically expressed in g/L (grams per liter).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration_determination_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        It is important to specify the type of concentration determination. There are numerous methods available to determine protein content, yet only a few are suitable for estimating or determining the protein content of the target protein within a mixture. Some of these methods include activity assays or the Western blotting technique, which relies on prior SDS-PAGE and antibody binding for detection.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the biocatalyst that are important for reproducibility and are not described by the aforementioned metadata,       they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- WholeCellBiocatalyst Definition -->
    <xs:complexType name="WholeCellBiocatalystType">
        <xs:sequence>
            <xs:element name="harvesting_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        In biotechnological processes, there are various methods for harvesting cells, including centrifugation, filtration, precipitation, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        In the case of whole-cell catalysts, the cell concentration or cell mass is commonly used as a measure.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        In case of lyophilized cells, the quantity of lyophilized cells can be specified in g (grams) or kg (kilograms). If wet cells are used, the cell concentration can be indicated in cells/mL (cells per milliliter) or cells/g (cells per gram) of wet cell weight. Other common indications of the concentration of wet cells as biocatalysts are the cell concentration in g/L (grams per liter) or OD (optical density).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration_determination_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Specify the method for cell number per cell weight determination (e.g., flow cytometry, weight of dry biomass, spectrophotometry).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="formulation" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        When applying a whole cell biocatalyst, there are various options. Cultivated cells can be lyophilized or used as wet cells after separation from the medium.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the biocatalyst that are important for reproducibility and are not described by the aforementioned metadata,       they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- SecretedEnzyme Definition -->
    <xs:complexType name="SecretedEnzymeType">
        <xs:sequence>
            <xs:element name="separation_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        There are various methods to separate the supernatant from the cells, common methods include centrifugation, filtration, sedimentation, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Concentration of the biocatalyst.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Concentration of the biocatalyst is typically expressed in g/L (grams per liter).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration_determination_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        It is important to specify the type of concentration determination. There are numerous methods available to determine protein content, yet only a few are suitable for estimating or determining the protein content of the target protein within a mixture. Some of these methods include activity assays or the Western blotting technique, which relies on prior SDS-PAGE and antibody binding for detection.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the biocatalyst that are important for reproducibility and are not described by the aforementioned metadata,       they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- CellFreeProduction Definition -->
    <xs:complexType name="CellFreeProductionType">
        <xs:sequence>
            <xs:element name="source_of_cellfree_extract" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Specifiy the organism or cell type from which the cell-free extract is derived (e.g., by describing the genus and species). These could be bacterial, plant, animal, or another sources. If available, reference can be made to an appropriate database entry.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Concentration of the biocatalyst.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Concentration of the biocatalyst is typically expressed in g/L (grams per liter).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration_determination_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        It is important to specify the type of concentration determination. There are numerous methods available to determine protein content, yet only a few are suitable for estimating or determining the protein content of the target protein within a mixture. Some of these methods include activity assays or the Western blotting technique, which relies on prior SDS-PAGE and antibody binding for detection.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the biocatalyst that are important for reproducibility and are not described by the aforementioned metadata,       they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Immobilised Definition -->
    <xs:complexType name="ImmobilisedType">
        <xs:sequence>
            <xs:element name="biocatalyst" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        When it comes to the immobilization method, it is also important to mention how the biocatalyst to be immobilized is present (for example, as a purified enzyme, or as a crude cell extract, etc.).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="immobilisation_chemistry" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        This aspect denotes the specific chemical methods or techniques used to attach the enzymes onto the chosen base material. Different immobilization chemistries involve various covalent or non-covalent       bonding strategies, including crosslinking, adsorption, covalent bonding, encapsulation, specific binding via (affinity)tag, or entrapment.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="carrier_material" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If a support material, base, or carrier was utilized, it is necessary to specify the material's name (e.g., gel, membrane, particle) along with the supplier and further product details (
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="linkers" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Linkers are chemical compounds used to establish a connection or bridge between the enzymes and the carrier material. These linkers play a vital role in stabilizing the immobilized enzymes and can           influence the efficiency and functionality of the immobilization process. They facilitate binding between the enzymes and the carrier material, promoting a stable and active biocatalyst structure. Common and            widespread linkers are spacer molecules, crosslinkers, avidin-biotin or silane coupling agents. (
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="immobilisation_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Specify further details regarding the immobilisation method of the enzyme. For a comprehensive report around the technical key data of the immobilization process or method, see literature for further              information, e.g. Ansorge-Schumacher2.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="purification_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The purification methods can vary depending on whether it involves whole cells or free enzymes. In the case of whole cells, methods such as centrifugation, filtration, or flow cytometry can be              employed. In the case of free enzymes, methods like cell lysis, filtration, chromatography, and precipitation, among others, may be used.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Concentration of the biocatalyst or the whole cells on the immobilised phase.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        For immobilized enzymes, the concentration is often quantified in terms of enzyme activity per volume (e.g., units per milliliter, U/mL) or weight measurements such as milligrams or grams per liter (mg/L or g/L). When referring to immobilized cells (not the enzymes themselves), units of cells/mL (cells per milliliter) or cells/g (cells per gram) are commonly utilized.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="concentration_determination_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Various methods are available to determine the concentration of immobilized enzymes or cells. For immobilized enzymes, methods such as protein measurement or enzymatic activity assays can be used. The protein determination can be determined on the carrier material using a BCA test or as a differential measurement using the Bradford method, $\Delta$280 or also after detachment of the enzyme from the carrier material. An activity measurement is best suited as it provides the activity per gram of immobilized material. For immobilized cells, methods like flow cytometry or biomass measurement are applicable.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the biocatalyst that are important for reproducibility and are not described by the aforementioned metadata,       they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- StorageConditions Definition -->
    <xs:complexType name="StorageConditionsType">
        <xs:sequence>
            <xs:element name="temperature" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The temperature at which the reactant is stored.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="temperature_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The temperature can be specified in units such as K, °C, or °F.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="storage_start" type="xs:date">
                <xs:annotation>
                    <xs:documentation>
                        The date since the biocatalyst has been stored.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="additives" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Additives for the storage of biocatalyst can include antioxidants, stabilizers, drying agent, or even inert gases (argon, nitrogen), among others.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="drying_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        For biocatalysts, various drying methods are employed (e.g., freeze-drying, also known as lyophilization, spray-drying, a method that involves atomizing a solution into small particles before drying, or vacuum drying, which removes moisture through low-pressure conditions). (
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific characteristics or aspects related to the biocatalyst that are important for reproducibility and are not described by the aforementioned metadata, they should be             explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


</xs:schema>