schemes/xml/vessels_and_mixing.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Roots -->
    <xs:element name="Vial" type="VialType"/>
    <xs:element name="Plate" type="PlateType"/>
    <xs:element name="StirredTankReactor" type="StirredTankReactorType"/>
    <xs:element name="TubularFlowContinuousReactor" type="TubularFlowContinuousReactorType"/>
    <xs:element name="Shaking" type="ShakingType"/>
    <xs:element name="MechanicallyImpelledMixing" type="MechanicallyImpelledMixingType"/>
    <xs:element name="LiquidOrGasImpelledMixing" type="LiquidOrGasImpelledMixingType"/>

    <!-- Vial Definition -->
    <xs:complexType name="VialType">
        <xs:sequence>
            <xs:element name="vial_size" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The vial's size, which can be its volume or its dimensions.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vial_size_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        For describing the vial size, you can use mL (milliliters) as the unit when referring to volume or cm (centimeters) when referring to dimensions.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="vial_material" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Specify the material of the vial, such as glass or plastic, as it can influence the reaction.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="closure_type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Indicate the type of closure or stopper used for the vial, as it affects sealing and the course of the reaction. If no closure or seal was used for the vial, this should be noted as well.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the vial or its preparation for the reaction that are important for reproducibility and are not                    described by the aforementioned metadata, they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Plate Definition -->
    <xs:complexType name="PlateType">
        <xs:sequence>
            <xs:element name="plate_type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The type of plate, such as microtiter plate, deep-well plate, or others.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="plate_material" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The material from which the plate is made, such as plastic (polystyrene), glass, or metal.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number_of_wells" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The total number of wells or cavities in the plate.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="well_shape" type="xs:string"/>
            <xs:element name="well_volume" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The volume of each well is, usually expressed in µL (microliters).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="well_arrangement" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The arrangement of the wells in the plate, for example, in rows and columns.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="supplier" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Information about the supplier from which the plate was purchased.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lot_number" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The lot number, also known as a batch number or code, is a unique identifier assigned to a specific batch of a product. This makes it possible to check or track information on production.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sealing_method" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Indicate if the wells were sealed with a sealing film or lid. (
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="sealing_material" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The material of the sealing film or lid. (
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the plate or its preparation for the reaction that are important for reproducibility and are not                    described by the aforementioned metadata, they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- StirredTankReactor Definition -->
    <xs:complexType name="StirredTankReactorType">
        <xs:sequence>
            <xs:element name="type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        There are several types of Stirred Tank Reactors, differing in design and intended use. A detailed description is required.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="material" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Material the reactor is made of, e.g. glass, polypropylene etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Indicate the total volume capacity of the Stirred Tank Reactor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The volume is typically expressed in L (liters).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="geometry" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The geometry of the reactor, in particular of interest is the ratio of height to width.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="bottom_type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Shape of the bottom of the reactor, e.g. a round bottom or a flat bottom.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="gas_consumption" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Common gases that are supplied to the reactor include, e.g., air, oxygen, hydrogen, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="gas_supply" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Gas can be supplied to a Stirred Tank Reactor in various ways, such as through sparging using a tube or an aeration basket, bubbling, or direct injection into the reactor vessel.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="gas_supply_rate" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Specification of the gas supply rate.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="gas_supply_rate_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The units for the gas supply rate in a Stirred Tank Reactor can be L/min (liters per minute), m³/h (cubic meters per hour), or other volume units per unit of time.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="temperature_control" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The temperature in a Stirred Tank Reactor can be controlled through various methods, typically using external heat sources or cooling systems such as heating jackets, cooling coils, or external             temperature control units.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the Stirred Tank Reactor or its preparation for the reaction that are important for reproducibility and are        not described by the aforementioned metadata, they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- TubularFlowContinuousReactor Definition -->
    <xs:complexType name="TubularFlowContinuousReactorType">
        <xs:sequence>
            <xs:element name="volume" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Indicate the total volume capacity of the tubular flow/continuous reactor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="volume_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The volume is typically expressed in L (liters).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="geometry" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The exact geometry of the tubular flow/continuous reactor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reactor_type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        There are several types of tubular flow/continuous reactors, e.g. packed bed reactor, or a plug flow reactor, differing in design and intended use. A detailed description is required.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="material" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Material the reactor is made of, e.g. glass, stainless steel or other materials.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="tubing" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        When using tubing in a tubular flow/continuous reactor, various pieces of information can be provided, such as tubing material, diameter, length, connections, etc.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="localisation_of_the_catalyst" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Specify the exact location of the catalyst in the tubular flow/continuous reactor. The biocatalyst is typically present in the liquid phase or immobilized on a support matrix (such as particles or          membranes).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the tubular flow/continuous reactor or its preparation for the reaction that are important for reproducibility     and are not described by the aforementioned metadata, they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Shaking Definition -->
    <xs:complexType name="ShakingType">
        <xs:sequence>
            <xs:element name="shaking_type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The type of shaking used to mix the reaction (e.g., horizontal, vertical, back-and-forth or circulatory).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="deflection" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Information about the extent of deflection or bending of the agitator from its original position of the horizontal shaking system.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="deflection_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Units such as mm (millimeters) or μm (micrometers) could be used to describe deflection in relation to the movement of the shaking system.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="speed" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Specify the speed or frequency at which the shaking was conducted.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="speed_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The shaking speed or frequency could be expressed in units such as rpm (rounds per minute) or Hz (cycles per second).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="position" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Information regarding the orientation of the vessel in the shaking system relative to deflection.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the shaking that are important for reproducibility and are not described by the aforementioned metadata, they      should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- MechanicallyImpelledMixing Definition -->
    <xs:complexType name="MechanicallyImpelledMixingType">
        <xs:sequence>
            <xs:element name="stirring_type" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        There are several types of stirring methods used in laboratory and industrial settings, including magnetic stirring (from vessel bottom), mechanical stirring, overhead stirring and other methods.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stirrer_material" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The specific composition or nature of the material should be indicated, e.g. whether it is made of magnetic material, a PTFE (polytetrafluoroethylene) coating, stainless steel or other relevant features that determine its structural or functional properties within the experimental setup.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="supplier" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If available, details of the specific designation or manufacturer's name of the stirrer should be provided for precise identification.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number_of_stirrers" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The number of stirrers available in the system.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="distance_between_stirrers" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Information about the distance, spacing or separation between the stirring rods or impellers within a reaction vessel or container.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="distance_between_stirrers_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The distance between stirrers can be specified in mm (millimeters), cm (centimeters), or m (meters), depending on the size and scale of the stirring system.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stirrer_blade_pitch_angle" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The pitch angle at which the blades or paddles of a stirring mechanism are positioned relative to the plane of rotation. It's typically expressed in ° (degrees).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="number_of_stirrer_blades" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The number of blades on each stirrer.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stirrer_blade_size" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The size of the impeller blades in a stirred tank reactor.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stirrer_blade_size_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        In the case of impellers in a stirred tank reactor, the diameter of the impeller blades is typically specified. This diameter can be measured in millimeters (mm) or centimeters (cm).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stirrer_geometry" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        There are various morphologies or geometries, such as radial impellers, axial impellers, helical ribbon impellers, paddle impellers, and more, depending on its design and intended purpose.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stirrer_speed" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        Specify the speed or frequency at which the stirring was conducted.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="speed_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The unit for stirring speed can be expressed in RPM (revolutions per minute), Hz (Hertz), or rad/s (radians per second), depending on the measurement instruments and scientific conventions used.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="height_of_stirrer_above_vessel_base" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The vertical distance between the bottom of the vessel or container (where the reaction takes place) and the lowest point of the stirring element or stirrer, which is usually located just above the         vessel base.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="height_of_stirrer_above_vessel_base_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Common units for defining the vertical distance between the bottom of the vessel and the lowest point of the stirrer include: mm (millimeters), cm (centimeters) and m (meters).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="power_per_volume" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The amount of stirring power or energy input into a system per unit volume.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="power_per_volume_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The units commonly used for expressing the stirring power are W/L (watts per liter) or kW/m³ (kilowatts per cubic meter).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="stir_bar_size" type="xs:float"/>
            <xs:element name="stir_bar_size_unit" type="xs:float"/>
            <xs:element name="stir_bar_shape" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The shape or configuration of the stir bar, whether it's cylindrical, octagonal, oval, or another shape. Different shapes can interact with the reaction mixture differently, influencing mixing patterns and efficiency.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the mechanically impelled mixing (stirring) that are important for reproducibility and are not described by        the aforementioned metadata, they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- LiquidOrGasImpelledMixing Definition -->
    <xs:complexType name="LiquidOrGasImpelledMixingType">
        <xs:sequence>
            <xs:element name="volume_of_liquid_solid_phase" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        In the context of enzymatic reactions or any chemical processes involving heterogeneous mixtures like a liquid and solid phase, essential parameters for describing the system involve the              composition of the phases, the percentage or fraction of the total volume occupied by the liquid-solid phase mixture, and further information.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="residence_time" type="xs:float">
                <xs:annotation>
                    <xs:documentation>
                        The residence time, often denoted as "τ" (tau), refers to the average amount of time a substance or component spends inside a specific system or reactor and is to be specified.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="residence_time_unit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The units for residence time can vary depending on the system and the units used for volume and flow rate. Common units include s (seconds), min (minutes), h (hours), or any time-related units.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="reynolds_number" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The Reynolds number (Re) is a dimensionless quantity used in fluid dynamics to predict the flow regime of a fluid within a specific system. It helps to determine whether the flow is laminar, turbulent, or     somewhere in between.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="passive_mixing" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The design of the coils and the flow patterns created by the geometry of the tubing can lead to passive mixing as the fluid flows through the reactor without the need for external agitation. More           detailed information must be provided to describe the process.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="active_T_or_Y_mixer" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Key features for describing an active Y or T mixer can include inlet ports, mixer chamber, outlet port, control, materials amon others.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="pulsing" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        The pulsing process involves periodically injecting or introducing specific components, such as reactants or additives, into a reaction system at regular intervals or in a pulsatile manner. More            detailed information must be provided to describe the process.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="special_treatment" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        If there are any other specific methods, procedures, characteristics or aspects related to the liquid or gas impelled mixing that are important for reproducibility and are not described by the              aforementioned metadata, they should be explained here.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


</xs:schema>